<div class="col-md-6">
  <h3>Add a reporter to the {{ beat.name }} beat</h3>
  <form ng-submit="addReporter()">
    <div class="form-group">
      <input type="text" ng-model="reporterName" class="form-control" placeholder="Enter the reporter's name" />
    </div>
    <div class="form-group">
      <input type="number" ng-model="reporterYearsEmployed" class="form-control" placeholder="Number of years employed" />
    </div>
    <div class="form-group">
      <input type="date" ng-model="reporterBirthday" class="form-control" placeholder="Reporter's birthday" />
    </div>
    <button type="submit" class="btn btn-default">They got the beat</button>
  </form>
</div>
<div class="col-md-6" ng-show="beat.reporters.length">
  <h3>List of {{ beat.name }} Reporters</h3>
  <dl>
    <dt ng-repeat-start="item in beat.reporters">
      <a ng-click="showDetails = ! showDetails">{{ item.name }}</a>
    </dt>
    <dd ng-show="showDetails">Years Employed: {{ item.yearsEmployed }}</dd>
    <dd ng-repeat-end ng-show="showDetails">Birthday: {{ item.birthday | date:'yyyy-MM-dd' }}</dd>
  </dl>
</div>
