<div layout="row">
  <section flex>
    <h3>Add a beat</h3>
    <form ng-submit="BeatsFactory.addBeat()">
      <div class="form-group">
        <input type="text" ng-model="BeatsFactory.beatName" class="form-control" placeholder="Enter a beat name" required/>
      </div>
      <md-content>
        <md-button class="md-raised md-primary" ng-disabled="!BeatsFactory.beatName">Add</md-button>
      </md-content>
    </form>
  </section>
  <section flex ng-show="beats.length">
    <h3>List of beats</h3>
    <ul>
      <li ng-repeat="item in beats | filter:query | orderBy:'name'">
        <a ui-sref="beats.reporters({ beatId: item.id })">{{ item.name }}</a>
      </li>
    </ul>
  </section>
  <section flex ng-show="beats.length">
    <h3>Filter</h3>
    <form>
      <div class="form-group">
        <input type="text" ng-model="query" class="form-control" placeholder="Filter the list of beats" />
      </div>
    </form>
  </section>
</div>

<div ui-view layout="row"></div>
