html {
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
  -moz-font-kerning: normal;
  font-kerning: normal;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #eee;
  margin-bottom: 80px;
}

.jumbotron {
  background: #0e745c;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
  color: #fff;
  text-shadow: -1px -1px 0 rgba(0,0,0,.2);
}

.row {
  margin-bottom: 30px;
}

h1 {
  font-family: Oswald, sans-serif;
  font-weight: 900;
  letter-spacing: -2px;
}
h1::after {
  content: "\1f4f0" !important;
  display: inline-block !important;
  margin-left: 1rem;
  color: #0e745c;
  text-shadow: none;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
}

h3 {
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d0dad8;
}

a {
  color: #0e745c;
  cursor: pointer;
}
a:hover,
a:focus {
  color: #063026;
  box-shadow: none;
  outline: 0 none;
  text-decoration: underline;
}

a::before {
  display: inline-block;
  vertical-align: top;
  margin-right: .125em;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 100;
}
a[href*="github.com"]::before {
  content: "\f09b";
}

li a,
dt a {
  display: block;
  height: 34px;
  border-bottom: 1px solid #d0dad8;
  padding: 6px 12px;
  text-decoration: none !important;
}
dt a {
  border-bottom: 0;
  border-top: 1px solid #d0dad8;
}
li:last-of-type a,
dt:first-of-type a{
  border: 0;
}
li a:hover,
li a:active,
li a:focus,
dt a:hover,
dt a:active,
dt a:focus {
  background: #f6f6f6;
}

dd {
  padding: 6px 12px;
}

.btn,
.form-control {
  border-radius: 0;
}

input:focus,
input[type]:focus,
.btn:hover,
.btn:focus {
  border-color: #0e745c;
  box-shadow: 0 1px 1px rgba(14, 116, 92, 0.075) inset, 0 0 3px rgba(14, 116, 92, 0.6);
  outline: 0 none;
}

ul {
  padding-left: 0;
  list-style: none;
}

footer {
  /*position: fixed;*/
  bottom: 0;
  width: 100%;
  height: inherit;
  background-color: #f5f5f5;
  margin-bottom: 0;
  padding-top: 10px;
  border-top: 1px solid #d0dad8;
}
