html {
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
  -moz-font-kerning: normal;
  font-kerning: normal;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #eee;
}

.jumbotron {
  background: #0e745c;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
  color: #fff;
  text-shadow: -1px -1px 0 rgba(0,0,0,.2);
}

h1 {
  font-family: Oswald, sans-serif;
  font-weight: 900;
  letter-spacing: -2px;
}
  h1::after {
    content: "\1f4f0" !important;
    display: inline-block !important;
    margin-left: 1rem;
    color: #0e745c;
    text-shadow: none;
  }

h2 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
}

h3 {
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d0dad8;
}

a {
  cursor: pointer;
}

a::before {
  display: inline-block;
  vertical-align: top;
  margin-right: .125em;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 100;
  -webkit-transition-duration: .1s;
  transition-duration: .1s;
  }
  a[href*="github.com"]::before {
    content: "\f09b";
  }

li a {
  display: block;
  height: 34px;
  padding: 6px 12px;
  text-decoration: none !important;
}
  li a:hover,
  li a:active,
  li a:focus {
    background: #fff;
  }

.btn,
.form-control {
  border-radius: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  margin-bottom: 0;
  padding-top: 10px;
  border-top: 1px solid #d0dad8;
}
